* {
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 4px;
    background-color: #25252A;
    box-sizing: border-box;
}


.header, #connect, #connecting, #disconnect{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    color: white;

}

.header{
    margin-top: 3em;
    font-size: 3em;
}

#connect, #connecting, #disconnect{
    font-size: 1em;
}

#connecting, #disconnect{
    display:none;
}

.box{
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    justify-content: center;
}


#text p{
    color:black;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    margin-top: 4em;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    min-height: 25vh;
}

#button1{
    width:300px;
    height: 100px;
    border: none;
    color:white;
    background-color: #25252A;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #42FBF2;
    transition: ease-out 0.3s;
    font-size: 2rem;
    border:3px solid #42FBF2;
    outline: none;
}

#button1:hover{
    box-shadow: inset 300px 0 0 0 #42FBF2;
}

#button1:active{
    border: blue;
    border-radius: 25px;
}

#recording{
    display:none;
    width:300px;
    height: 100px;
    border: none;
    color:white;
    background-color: #25252A;
    border-radius: 10px;
    font-size: 2rem;
    border:3px solid #42FBF2;
    outline: none;
    animation: r 2.5s infinite;
}

@keyframes r {
    0%{
        background-color: #25252A;
    }
    50%{
        background-color: #42FBF2;
    }
    100% {
        background-color: #25252A;
    }
}

/*
#connectDevice{
   background: white;
}

#connectDevice:hover{
    background-color: blue;
}
#connectDevice:active{
    border: blue;
    border-radius: 25px;
}


#disconnectDevice{
    background: white;
 }
 
 #disconnectDevice:hover{
     background-color: blue;
 }
 #disconnectDevice:active{
     border: blue;
     border-radius: 25px;
 }

 #onTest, #offTest{
    background: white;
 }
 
 #onTest:hover, #offTest:hover{
     background-color: blue;
 }
 #onTest:active, #offTestt:active{
     border: blue;
     border-radius: 25px;
 }
 */
